<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace是对应接口的全类名-->
<mapper namespace="com.wtmc.springbootteamsystem.mapper.BlogMapper">
    <resultMap id="blogResultMap" type="Blog">
        <id  property="blogId" column="blog_id"></id>
        <result property="blogUserId" column="blog_user_id" ></result>
        <result  property="blogTeamId" column="blog_team_id"></result>
        <result  property="blogType" column="blog_type"></result>
        <result property="blogCreateDate" column="blog_create_date" ></result>
        <result  property="blogTitle" column="blog_title"></result>
        <result  property="blogContent" column="blog_content"></result>
        <result  property="blogRead" column="blog_read"></result>
        <result  property="blogLike" column="blog_like"></result>
        <result  property="blogCollect" column="blog_collect"></result>
    </resultMap>
<!--添加博客-->
    <insert id="addBlog">
        insert into blog(blog_user_id,blog_type,blog_create_date,blog_title,blog_content)
        values(#{blogUserId},#{blogType},#{blogCreateDate},#{blogTitle},#{blogContent});
    </insert>
<!--查询博客-->
    <select id="searchBlog" resultMap="blogResultMap">
        select * from blog where 1 = 1
        <if test="teamId != -1">
            and blog_team_id = #{teamId}
        </if>
        <if test="blogType != null">
            and find_in_set(blogType,#{blog_type})
        </if>
        <if test="blogUserId != -1">
            and blog_user_id = #{blogUserId}
        </if>
    </select>
    <delete id="deleteBlog">
        select * from blog where blog_id = #{blogId};
    </delete>


</mapper>
