<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace是对应接口的全类名-->
<mapper namespace="com.wtmc.springbootteamsystem.mapper.OjSolveMapper">
    <resultMap id="ojSolveResultMap" type="OjSolve">
        <id column="oj_solve_id" property="ojSolveId"></id>
        <result column="oj_solve_user_id" property="ojSolveUserId"></result>
        <result column="oj_solve_problem_id" property="ojSolveProblemId"></result>
        <result column="oj_solve_code" property="ojSolveCode"></result>
    </resultMap>
    <select id="searchSolveCode" resultMap="ojSolveResultMap">
        select * from oj_solve where oj_solve_problem_id = #{id};
    </select>
    <insert id="addSolveCode">
        insert into oj_solve(oj_solve_user_id,oj_solve_problem_id,oj_solve_code)
        values(#{ojSolveUserId},#{ojSolveProblemId},#{ojSolveCode});
    </insert>
</mapper>
